.App {
  font-family: sans-serif;
  text-align: center;
}
.button {
  background-color: #4caf50; /* Green */
  border: brown;
  color: white;
  padding: 20px 32px;
  justify-content: center;
  align-content: center;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button3 {
  background-color: #f44336;
  text-align: right;
} /* Red */
